body {
    background: #0f111a;
    color: white;
}

.word {
    display: table;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 20px;
    font-size: 58px;
}

.textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    background: none;
    color: white;
    font-size: 18px;
    border: 2px solid rgba(255, 255, 255, .4);
    margin: auto;
    display: block;
    width: 80%;
    height: 300px;
    resize: none;
    outline: none;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;

    &.textarea::-webkit-scrollbar {
        width: 0.3em;
    }

    &.textarea::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .4);
    }

    &.textarea:hover {
        border: 2px solid rgba(255, 255, 255, .8);
    }

}


.range {
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, .4);
    width: 400px;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: rgba(255, 255, 255, .4);
        border-radius: 0px;
        border: 0px solid #010101;
    }

    &::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: rgba(255, 255, 255, .4);
        border-radius: 0px;
        border: 0px solid #010101;
    }

    &::-webkit-slider-thumb {
        box-shadow: none;
        border: 0px solid rgba(255, 255, 255, .4);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: rgba(255, 255, 255, 1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
    }

    &::-moz-range-thumb {
        box-shadow: none;
        border: 0px solid rgba(255, 255, 255, .4);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: rgba(255, 255, 255, 1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
    }

    &::-moz-focus-outer {
        border: 0;
    }
}

.range-span {
    position: relative;
    display: block;
    width: 400px;
    height: 70px;
    background: transparent;
    text-align: center;
    font-weight: bold;
    padding-top: 11px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .4);
    margin-top: 20px;
    margin: auto;
    margin-bottom: 30px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 32px;
    border-radius: 10px;
}

.buttons {
    display: table;
    margin: auto;
}

.button {
    text-decoration: none;
    width: 180px;
    outline: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
}


.button:hover {
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .8);
}

.button:active {
    transform: scale(.95);
}

.hide {
    display: none;
}

@media (max-width: 680px) {
    .word {
        font-size: 50px;
        margin-top: 120px;
    }

    .range-span {
        width: 250px;
        font-size: 20px;
        height: 50px;
    }

    .range {
        width: 250px;
    }

    .textarea {
        height: 150px;
    }

    .button {
        width: 120px;
        margin: 0;
        font-size: 12px;
        padding: 15px 10px;
    }
}

@media (max-width: 400px) {
    .word {
        font-size: 36px;
    }
}